@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  outline: none !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CUSTOM RESETS */
img,
input,
textarea,
.form,
.card,
.card-img,
.btn {
  border-radius: 0px !important;
}

input:focus,
textarea:focus,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
